.img {
    width: 18px;
}

.contacts {
    margin: 1rem auto 0;
    width: 100%;
}

.contact__wrapper {
    display: flex;
}

.contactMe__heading {
    font-size: 3.5rem;
    font-weight: 400;
}

.contacts-wrapper__left {
    flex: 1;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding: 100px 3.2rem;
}

.contacts-wrapper__left>h2 {
    padding: 0.5rem;
    padding-bottom: 0;
    text-align: left;
    /* margin-bottom: 0.2%; */
}

.contact__items {
    display: flex;
    font-size: 18px;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    /* margin-bottom: 10%; */
}

.contacts__text {
    padding-left: 1rem;
    margin-bottom: 0.1rem;
}

.contacts-wrapper__right {
    flex: 1;
    height: 50%;
    padding: 100px 3.2rem;
}

.contacts-wrapper__right>h2 {
    margin-bottom: 2%;
    margin-left: 4rem;
    padding: 0.5rem;
    text-align: center;
}

.contactme {
    display: flex;
    padding: 1px;
    margin-bottom: 2%;
}

.contactme__label {
    padding: 10px;
}

.contactme>input {
    background-color: #FDF6F0;
    border-radius: 0.25rem;
    border-style: transparent;
    margin-left: 2.1rem;
    width: 100%;
    padding-left: 10px;
}

.contactme>textarea {
    background-color: #FDF6F0;
    border: 2px solid;
    border-radius: 0.25rem;
    margin-left: 0.5rem;
    padding: 10px;
    width: 100%;
    resize: none;
    margin-bottom: 0.8rem;
}

.email__input {
    margin-left: 2rem;
}

.name__input {
    margin-left: 1.9rem !important;
}

.contactme__button {
    display: inline-block;
    font-weight: 400;
    height: 70%;
    line-height: 1.5;
    color: #ccc;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: #1c2024;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    width: 8rem;
    margin-left: 19%;
    margin-bottom: 1rem;
}

.contactme__button:hover {
    background-color: #3f3d3d;
}

@media screen and (max-width: 991px) {
    .contacts {
        margin-top: 0rem;
    }

    .contacts-wrapper__left {
        padding-bottom: 5px;
        padding-top: 20px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .contacts-wrapper__right {
        padding-right: 1.3rem;
        padding-left: 0.5rem;
    }

    .contactme__button {
        margin-left: 26%;
        width: 7.5rem;
    }

    
}


@media screen and (max-width: 768px) {
    .contacts {
        margin-top: 0rem;
    }

    .contact__wrapper {
        flex-direction: column;
        padding-top: 0;
    }

    .contacts-wrapper__left {
        padding-bottom: 0px;
        padding-top: 0px;
        margin: auto;
    }

    /* .contacts-wrapper__right {
        padding-top: 0px;
    } */

    .contacts-wrapper__left>h2 {
        text-align: center;
    }

    .contactMe__heading {
        padding-top: 0;
    }

    @media screen and (max-width: 381px) {
        .contactMe__heading {
            font-size: 2.6rem;
        }

        .contact__items {
            font-size: 1rem;
            /* padding-left: 3rem; */
            padding-top: 0;
            margin-bottom: 0;
            align-items: center;
        }

        .contacts__text {
            justify-content: left;
            padding-left: 0.6rem !important;
        }

        .contacts-wrapper__left>h2 {
            font-size: 20px;
            padding-top: 1rem;
            padding-bottom: 0;
        }

        .contacts-wrapper__left {
            padding: 0;
        }

        .img {
            width: 23px;
            height: 23px;
        }

        /* .contacts-wrapper__right {
            padding: 0;
        }     */

        .contacts-wrapper__right>h2 {
            margin: 1rem 0 0;
        }
    
    }
}
