.header {
    position: fixed;
    top: 20px;
    left: 85px;
    z-index: 9;
}

/* .header.sticky {
    display: block;
}

.nav__list__item a{

} */

.header.headerT {
    display: flex;
}

.header-btn.btn {
    display: block;
}

.header-btn{
    color: #e9ada6;
    font-size: 23px;
    cursor: pointer;
    position: fixed;
    right: 70px;
    top: 25px;
    z-index: 1;
    display: none;
}

.logo__icon {
    /* animation: logo__icon-spin infinite 10s linear; */
    display: inline-block;
    text-align: center;
    line-height: 3.125rem;
    /* border: 2px solid #e9ada6; */
    /* border-radius: 50%; */
    font-weight: 600;
    font-family: 'Oxygen', Courier, monospace;
    font-size: 3.5rem;
    /* height: 40px; */
    /* justify-content: space-around; */
    /* position: fixed; */
    /* left: 85px; */
    /* text-align: center; */
    /* top: 20px; */
    /* width: 16.25rem; */
    /* z-index: 999; */
    color: #e9ada6;
    text-transform: uppercase;
}

/* .appbar {
    height: 4rem !important;
} */

nav a.nav-link {
    font-weight: 500;
    letter-spacing: 0.0375rem;
    cursor: pointer;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    color: #e9ada6 !important;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    border-top: 00.1875rem solid rgba(225, 225, 225, 0);
}

.navbar-brand {
    max-width: 17.25rem;
    padding: 0 !important;
    /* height: 2rem !important; */
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
    border-top: 0.1875rem solid #FCD8D4 !important;
    color: #e9ada6 !important;
}

.navbar-nav > li > a:hover {
    border-top: 0.1875rem solid #FCD8D4 !important;
    color: #e9ada6 !important;
}

@keyframes logo__icon-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.nav {
    position: relative;
}

.nav__list {
    display: flex;
    list-style-type: none;
    position: fixed;
    right: 9rem;
    top: 14px;
    z-index: 999;
    margin-top: 15px;
}

.nav__list__item {
    padding-left: 20px;
    padding-right: 10px;
}
/* FCD8D4 */
.nav__list__item > a {
    color: #e9ada6;
    font-weight: bold;
    text-decoration: none;
}

.nav__list__item > a:hover {
        color: #745c5c;
    }


.toggle {
    align-items: center;
    background-color: #FDF6F0;
    border: 1px solid #FCD8D4;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    height: 25px;
    justify-content: space-around;
    position: relative;
    right: 0px;
    top: -6px;
    width: 50px;
    z-index: 999;
    margin-top: 15px;
}

.toggle__icon {
    height: 15px;
    width: 15px;
}

.toggle__button {
    background-color: #FCD8D4;
    border: 1px solid #F5C6AA;
    border-radius: 50%;
    height: 25px;
    position: absolute;
    width: 25px;
}

@media screen and (max-width: 991px) {
    .toggle {
        margin-left: 19rem !important;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        flex-direction: column;
        flex-direction: column-reverse;
        width: 100%;
    }
    .toggle {
        margin-left: 19.4rem !important;
    }
}

@media screen and (max-width: 766px) {
    .toggle {
        margin-left: 13.7rem !important;
    }
}

@media screen and (max-width: 575px) {
    .toggle {
        margin-left: 14.5rem !important;
    }
}

@media screen and (max-width: 565px) {
    .toggle {
        margin-left: 14.3rem !important;
    }
}

@media screen and (max-width: 558px) {
    .toggle {
        margin-left: 14rem !important;
    }
}

@media screen and (max-width: 535px) {
    .toggle {
        display: none;
    }
}

@media screen and (max-width: 468px) {
    .logo__icon {
        animation: none;
        top: 0;
    }

    .toggle {
        display: none;
    }

    .nav__list {
        right: 2rem;
        top: 1.5rem;
    }
}

/* @media screen and (max-width: 381px) {
    .logo__icon {
        display: none;
    }
} */

@media screen and (max-width: 368px) {
    /* .logo__icon {
        display: none;
    } */

    .nav__list {
        right: 2.5rem;
    }
    
}