.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 12px;
}

.ul {
    display: flex;
    list-style: none;
    padding-right: 20px;
    position: absolute;
    right: 0;
}

li {
    margin-left: 20px;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

a:hover {
    color: #fff !important;    
}

.cc {
    width: 14px;
    height: 14px;
    margin-right: 2px;
}

.copyright {
    display: flex;
    align-content: center;
}

@media screen and (max-width: 768px) {
    .footer {
        justify-content: space-between;
    }
}

@media screen and (max-width: 381px) {
    .footer {
        font-size: 7px;
        padding: 5px;
    }

    ul {
        padding-right: 10px;
    }

    li {
        margin-left: 10px;
    }

    .cc {
        width: 9px;
        height: 9px;
    }
}